.input_form{
    
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 3%;
}

input{
    color: rgb(240, 240, 240);
    height: 100%;
    padding: 10px 12px;
    flex: 1;
    border: 2px solid darkgray;
    background-color:rgb(59 58 58);
    border-radius: 10px;
}

.edit_button{
     width: 30%; 
}

button{
    height: 100%;
    padding: 10px 7px;
    background-color: rgb(48, 65, 110);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: bold;
    margin-left: 5px;
    font-size: 0.7rem;  
    letter-spacing: 0.09rem;
    
}

