ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task_item{
    display: flex;
    width: 80%;
    text-align: center;
    margin-bottom: 15px;
    align-items: stretch;
    /* box-shadow: 2px 2px 7px -3px */
    /* background-color: rgb(34, 34, 34); */
}

.task_item button{
    color: rgb(190, 190, 190);
}

.task_item button:hover{
    box-shadow: 2px 2px 7px -3px black;
    color: white;
}

.task_item .task{
    flex: 1;
    text-align: left;
    padding: 10px 9px;
    background-color:rgb(59 58 58);
    font-weight: bolder;
    color: rgb(58, 58, 58);
    border: 2px solid gray;
    border-radius: 10px;
}

.task_item .task:hover{
    box-shadow: 2px 2px 7px -3px black;
    color: black;
}

.check_box_container{
    width: 37px;
    /* background-color: cadetblue; */
}

.check_box{
    padding: 10px 9px;
    margin-right: 8px;
}

.task{
    position: relative;
}

.buttons{
    position: absolute;
    right: 1.5%;
    top: 28%;
}

.buttons div{
    color: rgb(63, 63, 63);
    margin-left: 7px;
    font-family: bolder;
    font-size: 14px;
}

.buttons div:hover{
    color: black;
    transform: scale(1.2);

}

/* .task_item .up{
    background-color: rgba(255, 255, 0, 0.493);
    font-weight: 600;
}

.task_item .down{
    background-color: rgba(0, 128, 0, 0.507);
    /* padding: 5px 9px;
    margin-left: 2px; 
    font-weight: 600;
}*/

/* .task_item .delet{
    background-color: rgba(255, 0, 0, 0.5);
    font-weight: 600;
}  */

input[type="checkbox"] {
    transform: scale(2.3); /* Adjust the scale factor to change the size */
  }
